.list-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    border: 1px solid #000;
    background: #000;
    color: white;
    border-radius: 5px;
    width: 100%;
    /* căn chỉnh tỉ lệ kích thước chiều dài và chiều rộng */
    aspect-ratio: 1;

    /* aspect-ratio: 16/9 */
}

